    body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    .contenedor {
        width: 100vw;
        /* display: flex;
        flex-direction: row; */
    }

    .navbar {
        /* color:brown; */
        width: 26%;
        padding: 10px 0 10px 0;
        border-right: 2px solid lawngreen;
        height: 575px;
        position: fixed;
        top: 0;
        left: 0;
    }

    .nav-title {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 26.8px;
        font-weight: 400;
    }

    /* estilos del scroll vertical  */

    .navbar .ul-scroll {
        overflow-y: scroll;
        scroll-snap-type: mandatory;
        background: #fff;
        scrollbar-width: 12px;
        padding-top: 5px;
        line-height: 2.5rem;
        list-style: none;
        height: 500px;
        padding-left: 0;
        border-top: 2px solid gray;
    }

    .navbar .ul-scroll li {
        scroll-snap-align: start;
        font-size: 16px;
        border-bottom: 2px solid gray;
        padding: 10px 0 10px 25px;
        line-height: 24px;
        color: #4d4e53;
        font-family: Arial;
    }

    .navbar .ul-scroll a {
        text-decoration: none;
    }

    /* estilos seccion main  */

    .main {
        margin: 15px 25px;
        position: absolute;
        width: 68%;
        top: 0;
        right: 0;
    }

    .main h1 {
        margin: 40px 0 0 0;
        font-size: 1.6em;
        padding: 0 0 0 20px
    }

    .main p {
        line-height: 23.033px;
        padding: 0 20px;
        font-size: 1em;
        color: #4d4e53;
        font-family: Arial;
    }

    .main ul {
        line-height: 1.6;
    }

    .main ul li {
        margin: 0 20px 0 40px;
        color: #4d4e53;
        font-family: Arial;
        line-height: 23.033px;
        font-size: 15.36px;
        margin-bottom: 10px;
    }

    section article .paragraph {
        background: #f7f7f7;
        padding: 5px 10px;
        margin: 10px 0 0 35px;
    }

    /* media query  */

    @media only screen and (max-width: 760px) {
        .contenedor {
            /* width: 100vw; */
        }
        .navbar {
            position: absolute;
            top: 0;
            width: 100%;
            max-height: 275px;
        }
        .main {
            width: 100%;
            position: relative;
            margin-top: 630px;
            margin-left: 0;
        }
        section article .paragraph {
            background: #f7f7f7;
            padding: 5px 10px;
            margin:  35px;
        }
    }